{%extends 'customer/base_customer.html'%}
{%block content%}
{{userName}}
{%endblock%}

{%block body%}

<section style="background-color: black;" class="mt-5" height="100%">  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center" style="background-color:black;">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 133px; background-color:black;">
              <h5 class="my-3" style="color:white;">{{userName}}</h5>
            </div>
        </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body"style="background-color:black;">
              <div class="row" >
                <div class="col-sm-3">
                  <p class="mb-0" style="color:white;">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{userName}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0" style="color:white;">PortalID</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{userID}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3" style="color:white;">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{userAddress}}</p>
                </div>
              </div>
              <hr>
              <div class="row" style="color:white;">
                <div class="col-sm-3">
                  <p class="mb-0">DOB</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{DOB}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {%endblock%}