{%extends 'customer/base_customer.html'%}

{%block content%}
{{user.userName}}
{%endblock%}

{%block body%}
<form method = "post" action={%url 'submit_documents'%}>
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal mt-4" style="text-align:center; color:white;">Submit Documents</h1>
    <div style="margin-left:37%;">
    <br>
    <div class="form-floating">
      <p style="color:white; margin-top:2%;">Aadhar File</p>
      <input type="text" class="form-control" id="floatingPassword" placeholder="Password" name = "aadharFile" style="width:40%; height:30px; padding:1%;">
    </div>
    <div class="form-floating">
      <p style="color:white; margin-top:2%;">Pan Card File</p>
      <input type="text" class="form-control" id="floatingPassword" placeholder="Password" name = "panFile" style="width:40%; height:30px; padding:1%;">
    </div>
    <div class="form-floating">
      <p style="color:white; margin-top:2%;">Passport File</p>
      <input type="text" class="form-control" id="floatingPassword" placeholder="Password" name = "passportFile" style="width:40%; height:30px; padding:1%;">
    </div>
  
    <button class="btn btn-lg btn-primary mt-5" type="submit" style="width:10%;">Submit</button>
  </div>
  </form>
{%endblock%}