{% extends 'banker/base_banker.html'%}
{%block content%}
{{userName}}
{%endblock%}

{%block body%}
<form method="POST" action={%url 'approve' loanID=loan.0%}>
    {%csrf_token%}
<div style="margin-left:40%; margin-top:10%; border-color:white;">
<p style="color:white; font-size:22px;">Customer ID : {{loan.0}}</p>
<p style="color:white; font-size:22px;">Customer Name : {{loan.1}}</p>
<p style="color:white; font-size:22px;">Customer Address : {{loan.2}}</p>
<p style="color:white; font-size:22px;">DOB : {{loan.3}}</p>
<p style="color:white; font-size:22px;">Credit Score : {{loan.4}}</p>
<br>
<button href="{%url 'approve' loanID=loan.0%}" class="btn btn-primary">Approve</a>
</div>
</form>
{%endblock%}