{% extends 'banker/base_banker.html'%}
{%block content%}
{{user.userName}}
{%endblock%}

{%block body%}
<div style="margin-left:40%; margin-top:5%;">
<form method="POST">
{%csrf_token%}
    <p style="color:white; font-size:22px;">Customer ID : {{doc.0}}</p>
    <p style="color:white; font-size:23px;">Customer Name : {{doc.1}}</p>
    <p style="color:white; font-size:23px;">Customer Address : {{doc.2}}</p>
    <p style="color:white; font-size:23px;">DOB : {{doc.3}}</p>
    <p style="color:white; font-size:23px;">Document Type : {{doc.4}}</p>
    <p style="color:white; font-size:23px;">Document File : {{doc.5}}</p>
    <br>
    <button class="btn btn-primary" style="width:31%;">Approve</buttom>
</form>
</div>
{%endblock%}