{%extends 'banker/base_banker.html'%}
{%block content%}
{{user.userName}}
{%endblock%}
{%block body%}
<div style="color:white; margin-left:40%; margin-top:5%;">
<h1 style="color:white;">Stats</h1>
<br>
<p style="font-size:20px;">Customer Count : <a style="color:yellow;">{{customer_count}}</a></p>
<p style="font-size:20px;">Maximum Balance : <a style="color:yellow;">{{max_bal}}</a></p>
<p style="font-size:20px;">Number of accounts : <a style="color:yellow;">{{account_count}}</a></p>
</div>
{%endblock%}